.input-wrapper {
  display: grid;

  & label {
    margin-bottom: 1rem;
    font: var(--body);
    color: var(--text-body);
  }

  & input {
    height: 3rem;
    border-radius: .5rem;
    background-color: var(--input-base);
    outline: 2px;

    font: var(--body-sm);
    color: var(--text-body);

    border: 1px solid var(--input-stroke);

    padding-inline: .8rem;
    padding-left: 1rem;

  & ::placeholder {
    color: var(--input-placeholder);
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;

    font: var(--body);
    color: var(--danger);

    margin-top: .25rem;
  }

  &:valid + .error {
    display: none;
  }

  &:not(:focus):valid + .error {
    display: none;
    
  }
  &:invalid {
    border: 1px solid var(--danger);
  }
  
  }

}

.deadline, .especifications{
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;

}



