.textarea-wrapper {
  display: grid;

  & label {
    margin-bottom: 1rem;
  }

  font: var(--body);
  color: var(--text-body);

  & textarea {
    outline: 2px;
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;

    background-color: var(--input-base);
    height: 8.5rem;

    padding: 1rem;

    resize: none;
    font: var(--body-sm);
    color: var(--text-body);

    &::placeholder {
      font: 400 0.875rem var(--open-sans);
    }

    &[required]+.error {
      display: flex;
      align-items: center;
      gap: .25rem;

      font: var(--body);
      color: var(--danger);

      margin-top: .25rem;
    }

    &:valid + .error {
      display: none;
    }
    &:not(:focus):invalid {
      border: 1px solid var(--input-stroke);
    }
    &:not(:focus):invalid + .error {
      display: none;
    }
    &:invalid {
      border: 1px solid var(--danger);
    }

  }

}